
-- ============================================================
-- DESK-FLOW v2
-- Complete database schema
-- MySQL 8.x
--
-- IMPORTANT:
-- This script destroys the existing `hotel` database.
-- Use this only for a fresh development installation.
-- ============================================================

DROP DATABASE IF EXISTS hotel;

CREATE DATABASE hotel
    CHARACTER SET utf8mb4
    COLLATE utf8mb4_unicode_ci;

USE hotel;


-- ============================================================
-- 1. CUSTOMERS / GUESTS
-- ============================================================

CREATE TABLE customers (
    customer_id INT NOT NULL AUTO_INCREMENT,

    name VARCHAR(100) NOT NULL,

    phone VARCHAR(30) NOT NULL,

    email VARCHAR(150) NOT NULL,

    address VARCHAR(255) DEFAULT NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (customer_id),

    UNIQUE KEY uq_customers_email (email),

    KEY idx_customers_name (name),

    KEY idx_customers_phone (phone)

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


-- ============================================================
-- 2. ROOMS
--
-- `Booked` is retained for compatibility with the current
-- routes/staff.py and routes/rooms.py.
--
-- Later, Phase 5 will move booking availability to
-- date-range logic instead of relying on room.status.
-- ============================================================

CREATE TABLE rooms (
    room_id INT NOT NULL AUTO_INCREMENT,

    room_number VARCHAR(10) NOT NULL,

    room_type ENUM(
        'Single',
        'Double',
        'Deluxe',
        'Suite'
    ) NOT NULL,

    price DECIMAL(10,2) NOT NULL,

    status ENUM(
        'Available',
        'Booked',
        'Maintenance'
    ) NOT NULL DEFAULT 'Available',

    description TEXT DEFAULT NULL,

    image VARCHAR(255) DEFAULT NULL,

    capacity INT NOT NULL DEFAULT 2,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (room_id),

    UNIQUE KEY uq_rooms_room_number (room_number),

    KEY idx_rooms_type (room_type),

    KEY idx_rooms_status (status),

    CONSTRAINT chk_rooms_price
        CHECK (price >= 0),

    CONSTRAINT chk_rooms_capacity
        CHECK (capacity > 0)

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


-- ============================================================
-- 3. BOOKINGS
--
-- Compatible with:
-- routes/booking.py
-- app.py
-- services/invoice.py
--
-- Includes:
-- booking_code
-- special_requests
-- booking_date
-- ============================================================

CREATE TABLE bookings (
    booking_id INT NOT NULL AUTO_INCREMENT,

    booking_code VARCHAR(30) NOT NULL,

    customer_id INT NOT NULL,

    room_id INT NOT NULL,

    check_in DATE NOT NULL,

    check_out DATE NOT NULL,

    number_of_guests INT NOT NULL DEFAULT 1,

    special_requests TEXT DEFAULT NULL,

    total_amount DECIMAL(10,2) NOT NULL DEFAULT 0.00,

    booking_status ENUM(
        'Confirmed',
        'Checked-In',
        'Checked-Out',
        'Cancelled'
    ) NOT NULL DEFAULT 'Confirmed',

    booking_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (booking_id),

    UNIQUE KEY uq_bookings_booking_code (booking_code),

    KEY idx_bookings_customer (customer_id),

    KEY idx_bookings_room (room_id),

    KEY idx_bookings_dates (
        room_id,
        check_in,
        check_out
    ),

    KEY idx_bookings_status (booking_status),

    KEY idx_bookings_date (booking_date),

    CONSTRAINT fk_bookings_customer
        FOREIGN KEY (customer_id)
        REFERENCES customers(customer_id)
        ON UPDATE CASCADE
        ON DELETE RESTRICT,

    CONSTRAINT fk_bookings_room
        FOREIGN KEY (room_id)
        REFERENCES rooms(room_id)
        ON UPDATE CASCADE
        ON DELETE RESTRICT,

    CONSTRAINT chk_bookings_guests
        CHECK (number_of_guests > 0),

    CONSTRAINT chk_bookings_amount
        CHECK (total_amount >= 0),

    CONSTRAINT chk_bookings_dates
        CHECK (check_out > check_in)

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


-- ============================================================
-- 4. CHATBOT MESSAGES
--
-- Required by routes/chatbot.py
-- ============================================================

CREATE TABLE chatbot_messages (
    message_id INT NOT NULL AUTO_INCREMENT,

    customer_id INT DEFAULT NULL,

    user_message TEXT NOT NULL,

    bot_response TEXT NOT NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (message_id),

    KEY idx_chatbot_customer (customer_id),

    KEY idx_chatbot_created_at (created_at),

    CONSTRAINT fk_chatbot_customer
        FOREIGN KEY (customer_id)
        REFERENCES customers(customer_id)
        ON UPDATE CASCADE
        ON DELETE SET NULL

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


-- ============================================================
-- 5. USERS / STAFF
--
-- IMPORTANT:
-- routes/staff.py currently queries:
--
--     FROM users
--
-- not:
--
--     FROM staff
--
-- Therefore the table is intentionally named `users`.
-- ============================================================

CREATE TABLE users (
    user_id INT NOT NULL AUTO_INCREMENT,

    username VARCHAR(50) NOT NULL,

    email VARCHAR(150) DEFAULT NULL,

    password_hash VARCHAR(255) NOT NULL,

    full_name VARCHAR(100) NOT NULL,

    role ENUM(
        'admin',
        'manager',
        'staff',
        'housekeeping'
    ) NOT NULL DEFAULT 'staff',

    is_active BOOLEAN NOT NULL DEFAULT TRUE,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (user_id),

    UNIQUE KEY uq_users_username (username),

    UNIQUE KEY uq_users_email (email),

    KEY idx_users_role (role),

    KEY idx_users_active (is_active)

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


-- ============================================================
-- 6. PAYMENTS
--
-- Compatible with the existing repository's payment schema:
--
-- transaction_id
-- payment_date
-- payment_method:
-- Cash / Card / UPI / Online
-- ============================================================

CREATE TABLE payments (
    payment_id INT NOT NULL AUTO_INCREMENT,

    booking_id INT NOT NULL,

    amount DECIMAL(10,2) NOT NULL,

    payment_method ENUM(
        'Cash',
        'Card',
        'UPI',
        'Online'
    ) NOT NULL,

    payment_status ENUM(
        'Paid',
        'Pending',
        'Failed',
        'Refunded'
    ) NOT NULL DEFAULT 'Pending',

    transaction_id VARCHAR(100) DEFAULT NULL,

    payment_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (payment_id),

    KEY idx_payments_booking (booking_id),

    KEY idx_payments_status (payment_status),

    KEY idx_payments_transaction (transaction_id),

    CONSTRAINT fk_payments_booking
        FOREIGN KEY (booking_id)
        REFERENCES bookings(booking_id)
        ON UPDATE CASCADE
        ON DELETE RESTRICT,

    CONSTRAINT chk_payments_amount
        CHECK (amount >= 0)

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


-- ============================================================
-- END OF DATABASE SCHEMA
-- ============================================================

-- Verify tables after creation:
--
-- SHOW TABLES;
--
-- DESCRIBE customers;
-- DESCRIBE rooms;
-- DESCRIBE bookings;
-- DESCRIBE chatbot_messages;
-- DESCRIBE users;
-- DESCRIBE payments;

